package components

templ Footer() {
	<footer class="footer footer-center bg-base-200/60 px-6 py-4 -bottom-px start-0 w-full">
		<aside>
			<p>Maintained as open source project on <a class="link link-neutral link-animated" target="_blank" href="https://github.com/ternaryss/houston"><span class="icon-[tabler--brand-github-filled]"></span> GitHub</a>.</p>
		</aside>
	</footer>
}
