package components

import (
	"fmt"
	"github.com/ternaryss/houston/internal/app/types"
)

templ SignInForm(frm types.SignInForm, ebd bool) {
	<form id="signInForm" hx-post="/sign-in" hx-target="#signInForm" hx-swap="outerHTML" class="w-full md:w-[500px] p-5 md:p-10 md:border md:rounded-lg">
		<h1 class="text-center text-base-content text-4xl">
			Houston
		</h1>
		<div class="mt-4 mx-auto input-group max-w-sm">
			<div class="relative w-full">
				<input id="email" name="email" type="email" placeholder="Address e-mail" value={ frm.Email } class={ fmt.Sprintf("input input-floating peer %s", errorClass("password", frm.Errors)) } required/>
				<label for="email" class="input-floating-label">Address e-mail</label>
			</div>
			<span class="input-group-text">
				<span class="icon-[tabler--user] text-base-content/80 size-5"></span>
			</span>
		</div>
		<div class="mt-4 mx-auto input-group max-w-sm">
			<div class="relative w-full">
				<input id="password" name="password" type="password" placeholder="Password" value={ frm.Password } class={ fmt.Sprintf("input input-floating peer %s", errorClass("password", frm.Errors)) } required/>
				<label for="password" class="input-floating-label">Password</label>
			</div>
			<span class="input-group-text">
				<span class="icon-[tabler--lock] text-base-content/80 size-5"></span>
			</span>
		</div>
		if err, invalid := frm.Errors["password"]; invalid {
			<span class="label mx-auto max-w-sm">
				<span class="label-text-alt">{ err.Msg }</span>
			</span>
		}
		<div class="w-full mt-4 text-center">
			<button type="submit" class="btn btn-primary">Sign in <span class="icon-[tabler--lock-open]"></span></button>
		</div>
		if ebd {
			<div class="w-full mt-2 text-center">
				or <a class="link link-primary link-animated" href="/sign-up">Sign up</a>
			</div>
		}
	</form>
}
