package views

import (
	"github.com/ternaryss/houston/internal/app/types"
	"github.com/ternaryss/houston/views/components"
)

templ Dashboard(pag types.Page, usr string) {
	<div class="flex flex-col min-h-screen">
		@components.Navigation(usr)
		<main class="flex-grow px-6 py-4">
			<div class="mx-auto container">
				<div class="flex items-center justify-between px-4">
					<h3 class="text-base-content text-2xl truncate max-w-full">Applications</h3>
					<a href="/web-apps/add" class="btn btn-square btn-primary">
						<span class="icon-[tabler--plus]"></span>
					</a>
				</div>
				<hr class="my-4"/>
				@components.WebAppsList(pag, usr)
			</div>
		</main>
		@components.Footer()
	</div>
}
