package views

templ Header() {
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta name="author" content="TSS"/>
		<link rel="stylesheet" type="text/css" href="/public/css/styles.css"/>
		<link rel="stylesheet" type="text/css" href="/public/css/apexcharts.css"/>
		<script type="text/javascript" src="/public/js/flyonui.js"></script>
		<script type="text/javascript" src="/public/js/htmx.min.js"></script>
		<title>Houston</title>
	</head>
}
