package views

templ InternalServerError() {
	<div class="flex items-center justify-center h-screen">
		<h1 class="bg-gradient-to-r from-primary to-error bg-clip-text text-transparent font-black text-9xl w-fit">
			500
		</h1>
	</div>
}
