package views

import (
	"github.com/ternaryss/houston/internal/app/types"
	"github.com/ternaryss/houston/views/components"
)

templ SignIn(frm types.SignInForm, ebd bool) {
	<div class="flex p-0 md:p-10 items-center justify-center min-h-screen">
		@components.SignInForm(frm, ebd)
	</div>
}
